In [2]:
import pandas as pd

*Create a Data Frame

In [3]:
data=[[1,2,3,4,5],[5,6,7,8,9],[9,10,11,12,13]]
df = pd.DataFrame(data,columns=['First','Second','Third','Fourth','Fifth'])
df

   First  Second  Third  Fourth  Fifth
0      1       2      3       4      5
1      5       6      7       8      9
2      9      10     11      12     13

Read in a DataFrame from Excel

In [ ]:
df = pd.read_excel('stock_model_1_1_index_raw.xlsx',sheet_name='total returns')
#Let 'date' to be an individual column at the very left
df.set_index('Date',inplace=True)
display(df)

iloc VS loc (Only want part of the data)

In [ ]:
#First 5 rows
df.iloc[:5]

In [ ]:
#first 5 rows and first 3 colums
df.iloc[:5,:3]

In [ ]:
#use the names of the columns
df.loc[:'2000-05-31',['AAPL','GOOG']]

Subtracting one column to the others (eg:risk-free return)

In [ ]:
df['AMZN_Excess']=df['AMZN']-df['AAPL']

Shallow VS Deep Copies

In [7]:
data=[[1,2,3,4,5],[5,6,7,8,9],[9,10,11,12,13]]
df = pd.DataFrame(data,columns=['First','Second','Third','Fourth','Fifth'])
df

   First  Second  Third  Fourth  Fifth
0      1       2      3       4      5
1      5       6      7       8      9
2      9      10     11      12     13

In [8]:
#Changing both the original and the copy
df_copy = df
df_copy.iloc[0,0]=100
df_copy

   First  Second  Third  Fourth  Fifth
0    100       2      3       4      5
1      5       6      7       8      9
2      9      10     11      12     13

In [15]:
data=[[1,2,3,4,5],[5,6,7,8,9],[9,10,11,12,13]]
df = pd.DataFrame(data,columns=['First','Second','Third','Fourth','Fifth'])
df
#Only change the copy
df_copy = df.copy()
df_copy.iloc[0,0]=100
df_copy

   First  Second  Third  Fourth  Fifth
0    100       2      3       4      5
1      5       6      7       8      9
2      9      10     11      12     13

In [16]:
df

   First  Second  Third  Fourth  Fifth
0      1       2      3       4      5
1      5       6      7       8      9
2      9      10     11      12     13

Python Function (Needn't to copy the code every time)

In [ ]:
df = pd.read_excel('stock_model_1_1_index_raw.xlsx',sheet_name='total returns')
#Let 'date' to be an individual column at the very left
df.set_index('Date',inplace=True)
display(df)

In [ ]:
#Simple but time consuming
aapl_sharpe = df['AAPL'].mean() / df['AAPL'].std()
aapl_sharpe

In [ ]:
def calculate_sharpe(returns_series):
    sharpe = returns_series.mean() / return_series.std()
    print(sharpe)

In [ ]:
calculate_sharpe(df['AAPL'])

Linear regression (Sklearn)

In [18]:
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:
x = np.array(df['AAPL','GS']).reshape(-1,2)
y = np.array(df['AMZN']).reshape(-1,1)

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
lr = LinearRegression(fit_intercept=True)
lr.coef_
lr.intercept_